.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
lib/forge-std
# Environment variables
.env

# Dependencies
node_modules/
lib/

# Foundry build artifacts
cache/
out/
broadcast/

# Slither/Crytic CI artifacts
*.json
*.patch
*.tree.json
*.dot

# macOS
.DS_Store
/lib /lib32 /lib64 /lib.usr-is-merged /libx32
